<div class="authform">
  <h3>修改用户信息 <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label "昵称" %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label "邮箱" %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p>如果您不想修改密码，不填即可。</p>
      <div class="form-group">
        <%= f.label "密码" %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "密码确认" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>您必须输入旧密码才能成功修改信息。</p>
      <div class="form-group">
        <%= f.label "旧密码" %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit '保存修改', :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3>注销账户</h3>
<p>不开心？我们对于您的离开感到难过不已。</p>
<%= button_to "注销我的账户", registration_path(resource_name), :data => { :confirm => "您确定要注销账户吗?" }, :method => :delete, :class => 'button right' %>
</div>
